body {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 2.5em;
    text-decoration: underline black 2px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 150%;
    margin-bottom: 1em;
}

header {
    align-items: center;
    border-bottom: 1px solid #EBE8E8;
}

.logo{
    height: 100%;
    width:auto;

}

nav {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    display: grid;
    padding: 10px 0px 10px 0px;
    grid-template-columns: repeat(7, auto);
}

a {
    text-decoration: none;
    color: #5b4746;
    font-size: 13px;
}

a:hover {
    text-decoration: underline #fff100 2px;
}
/*Je kan grid area gebruiken maar het is niet per se nodig in deze oefening*/
/*#cel1 {*/
/*    grid-area: 1/1;*/
/*}*/

/*#cel2 {*/
/*    grid-area: 1/2;*/
/*}*/

/*#cel3 {*/
/*    grid-area: 1/3;*/
/*}*/

/*#cel4 {*/
/*    grid-area: 1/4;*/
/*}*/

/*#cel5 {*/
/*    grid-area: 1/5;*/
/*}*/

/*#cel6 {*/
/*    grid-area: 1/6;*/
/*}*/

/*#cel7 {*/
/*    grid-area: 1/7;*/
/*}*/

#cel1, #cel2, #cel3, #cel4, #cel5, #cel6 {
    border-right: 1px solid #EBE8E8;
}

.headerMain {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
    background-image: url("../images/headerimage.jpg");
    background-size: cover;
}

.headerMain h2 {
    color: white;
    font-size: 40px;
    text-shadow: #8D99AE 2px 2px 2px;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: auto;
}

section h1 {
    width: 100%;
    margin-bottom: 0;
    padding-bottom:0;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.recipes {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap:15px;
}

article {
    margin-right: 1.5em;
    padding-top: 1em;
    border-top: 1px solid #ddd;
}

article .smallTitle {
    text-transform: uppercase;
    font-size: 1.2em;
    text-space: 1px;
    color: #ff4d56;
}

article .itemBody {
    color: #666;
    line-height: 2;
}

article .itemAuthor {
    display: inline-block;
    padding-right:10px;
    border-right: 1px solid #EBE8E8;
    font-style:italic;
}

article .timestamp {
    display: inline-block;
    color: #666;
    padding-left: 10px;
}

.recipes a:hover {
    text-decoration: none;
}

.recipes a{
    color: black;
    text-decoration: none;
}

#article1 {
    grid-area: 1/1/1/2;
}

#afbeelding1 {
    grid-area: 1/2/1/3;
}

#article2 {
    grid-area: 2/1/2/2;
}

#afbeelding2 {
    grid-area: 2/2/2/3;
}

#article3 {
    grid-area: 3/1/3/2;
}

#afbeelding3 {
    grid-area: 3/2/3/3;
}

.row {
    margin-top: 50px;
}

section>div>img {
    padding-bottom: 25px;
}

footer p {
    display: inline-block;
    border-top: 1px solid #EBE8E8;

}

#left {
    text-align: right;
    width: 50%;
    margin:0;
    padding: 20px;
    line-height: 2em;
}

#right {
    float: right;
    text-align: left;
    background-color: black;
    line-height: 2em;
    color: white;
    width: 50%;
    margin:0;
    padding: 20px;
}

@media screen and (min-width: 770px) {
    body {
        width: 750px;
    }
}

@media screen and (min-width: 800px) {
    .headerMain h2 {
        font-size: 5em;
    }
}

@media screen and (min-width: 1000px) {
    body {
        width: 980px;
    }
}
